@{
    ViewData["Title"] = "Giỏ hàng";
}
<div class="template-2">
	<div class="container-2 d-flex flex-column gap-4">
		<div class="bg-white box-padding-15 border-rounded product-main-info-review">
			<div class="d-flex">
				<div>
					<input type="checkbox"/>
				</div>
				<div>
					Sản phẩm
				</div>
				<div>
					Đơn giá
				</div>
				<div>
					Số lượng
				</div>
				<div>
					Số tiền
				</div>
			</div>
		</div>
		<div class="bg-white box-padding-15 border-rounded product-main-info-review">
			<div class="d-flex">
				<div>
					<input type="checkbox" />
				</div>
				<div>
					Sản phẩm
				</div>
				<div>
					Đơn giá
				</div>
				<div>
					Số lượng
				</div>
				<div>
					Số tiền
				</div>
			</div>
		</div>
		<div class="bg-white box-padding-15 border-rounded product-main-info-review">
			<div class="d-flex">
				<div>
					<input type="checkbox" />
				</div>
				<div>
					Sản phẩm
				</div>
				<div>
					Đơn giá
				</div>
				<div>
					Số lượng
				</div>
				<div>
					Số tiền
				</div>
			</div>
		</div>
	</div>
</div>