@{
    ViewData["Title"] = "Liên hệ";
}
<div class="contact-container">
    <h1 class="contact-title">Liên hệ với chúng tôi!</h1>

    <div class="contact-info">
        <p>Email: <a href="mailto:support@shoppe.com" class="contact-link">support@shoppe.com</a></p>
        <p>Điện thoại: <a href="tel:+84987654321" class="contact-link">+84 987 654 321</a></p>
        <p>GitHub: <a href="https://github.com/GuenNhatKing/PBL-Nen-tang-mua-sam-truc-tuyen-Shoppe" target="_blank" rel="noopener noreferrer" class="contact-link">https://github.com/GuenNhatKing/PBL-Nen-tang-mua-sam-truc-tuyen-Shoppe</a></p>
    </div>
</div>
