@model ProductPageInfo

<div class="template-2">
	<div class="container-2">
		<div>
			<div>
				Ảnh sản phẩm
			</div>
			<div>
				<div>
					Tên sản phẩm
				</div>
				<div>
					<div>
						Số sao đánh giá
					</div>
					<div>
						Số lượt đánh giá
					</div>
					<div>
						Số lượt đã bán
					</div>
				</div>
				<div>
					<div>
						12.345 đ
					</div>
					<div>
						123.456 đ
					</div>
					<div>
						12 % giảm giá
					</div>
				</div>
				<div>
					Số lượng
				</div>
				<div>
					<div>
						Thêm vào giỏ hàng
					</div>
					<div>
						Mua Ngay
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<div>
					Ảnh Cửa Hàng
				</div>
				<div>
					Tên Cửa Hàng
				</div>
				<div>
					Xem Cửa Hàng
				</div>
			</div>
			<div>
				<div>
					123456 Sản phẩm
				</div>
				<div>
					Thời gian tham gia
				</div>
				<div>
					Địa chỉ cửa hàng
				</div>
			</div>
		</div>
		<div>
			<div>
				Chi tiết sản phẩm
			</div>
			<div>
				<div>
					Danh mục: 
				</div>
				<div>
					Tên danh mục
				</div>
			</div>
			<div>
				<div>
					Số sản phẩm còn lại:
				</div>
				<div>
					123456
				</div>
			</div>
			<div>
				Mô tả sản phẩm
			</div>
			<div>
				Nội dung mô tả...
			</div>
		</div>
			<div>Đánh giá sản phẩm</div>
			<div>
				<div>
					Số sao đánh giá
				</div>
				<div>
					...
				</div>
			</div>
			<div>
				<div>
					Ảnh người đánh giá
				</div>
				<div>
					<div>Tên người đánh giá</div>
					<div>Điểm đánh giá</div>
					<div>Thời gian đánh giá</div>
					<div>Nội dung đánh giá</div>
				</div>
			</div>
		<div>
		</div>
	</div>
</div>